# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Dados
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Credenciais
.env
*.key